body {
  font-family: sans-serif;
}

.c {
  max-width: 764px;
  padding: 0 1em;
  margin: 0 auto;
  text-align: center;
}

.c h1 {
  max-width: 100%;
  word-wrap: break
}

.c img {
  border-radius: 50%;
  width: 100%;
  max-width: 256px;
}
