.content {
  max-width: 764px;
  padding: 0 1em;
  margin: 0 auto;
  text-align: center;
}

h1 {
  max-width: 100%;
  word-wrap: break
}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 256px;
}

.profile {
  font-size: 1em;
}
